@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", "sans-serif";
  color: #363636;
}

.slide-container {
  position: relative;
  height: 720px;
}

.slide-image {
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide-content {
  max-width: 630px;
  position: relative;
}

.main-menu .main-menu-item-link:before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #1c95f3;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.main-menu .main-menu-item-link {
  color: #363636;
  font-size: 0.8125em;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.main-menu .main-menu-item-link:hover:before {
  opacity: 1;
  left: 0;
}

.main-menu .main-menu-item-link:hover {
  background-color: #f5f9fc;
}

.slide-content .post-preview-text {
  color: #fff;
  width: 460px;
  margin-top: 16px;
  font-size: 0.875em;
  line-height: 1.7142857143em;
  text-shadow: 0px 0px 10px #020102;
}

.arrow-icon {
  width: 12px;
  height: 20px;
  fill: #fff;
}

.button {
  height: 38px;
  border-radius: 200px;
  padding: 0 68px 0 34px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 0.6875em;
  font-weight: 800;
  line-height: 46px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: relative;
}

.button .arrow-icon {
  fill: #fff;
  transition: transform 0.3s ease-in-out;
}

.button .button-ornament {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 6px;
}

.button.big {
  height: 48px;
  padding: 0 92px 0 52px;
  font-size: 0.875em;
  line-height: 55px;
}

.arrow-icon {
  width: 11px;
  height: 11px;
}

.button .arrow-icon {
  fill: #fff;
  position: absolute;
  top: 12px;
  left: 15px;
  transition: transform 0.24s ease-in-out;
}

.button:hover .arrow-icon {
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Tiny Button */

.button.tiny {
  height: 27px;
  padding: 0 34px 0 15px;
  font-size: 0.5625em;
  line-height: 27px;
}

.button.tiny .button-ornament {
  width: 21px;
  height: 21px;
}

.button.tiny .button-ornament {
  width: 21px;
  height: 21px;
  top: 3px;
  right: 3px;
}

.button.tiny .arrow-icon {
  top: 7px;
  left: 9px;
}

/* BIG Button */

.button.big {
  height: 48px;
  padding: 0 92px 0 52px;
  font-size: 0.875em;
  line-height: 48px;
}

.button.big .button-ornament {
  width: 38px;
  height: 38px;
  top: 5px;
}

.arrow-icon.big {
  width: 9px;
  height: 15px;
}

.button.big .arrow-icon {
  width: 22px;
  height: 22px;
  top: 11px;
  left: 16px;
}

/* Small BUTTON */

.button.small {
  height: 34px;
  padding: 0 24px;
  font-size: 0.625em;
  line-height: 34px;
}

.button.small .button-ornament {
  display: none;
}

.navigation-wrap.sticky-on-top {
  width: 100%;

  z-index: 10;
  background-color: #fff;
}

.slick-dots {
  bottom: 25px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75 !important;
  color: white !important;
}

.slick-dots li button:before {
  color: white !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 12px !important;
}

.post-preview-title,
.post-preview-text {
  text-shadow: 0px 0px 20px #020102;
}

.post-preview {
  position: relative;
  width: 100%;
}

.post-preview .post-preview-img-wrap {
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}

.post-preview.picture .post-preview-img {
  transition: transform 0.3s ease-in-out;
  height: 175px;
  box-shadow: inset 0px -100px 190px -60px rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.post-preview.picture.big .post-preview-img {
  transition: transform 0.3s ease-in-out;
  height: 525px;
  box-shadow: inset 0px -310px 370px -150px rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.post-preview .post-preview-overlay {
  width: 100%;
  height: 100%;
  padding: 0 14px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0 30px;
  margin-bottom: 26px;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  background-color: transparent;
  top: auto;
  bottom: 0;
}

.post-preview .post-preview-overlay .post-preview-title {
  font-size: 1em;
  line-height: 1.375em;
  color: #fff;
}
.post-preview.picture.big .post-preview-overlay .post-preview-title,
.post-preview.large .post-preview-title,
.post-open .post-open-title.small,
.reviews-wrap .reviews-header .reviews-header-title {
  font-size: 2.25em;
  line-height: 1.1666666667em;
  color: #fff;
}

.post-preview.picture.big .post-preview-overlay .post-preview-text {
  display: block;
  width: 340px;
  font-size: 0.8125em;
  line-height: 1.6923076923em;
  color: #fff;
}

.tag-ornament {
  display: inline-block;
  padding: 0 10px;
  background-color: #252627;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.625em;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.post-preview.picture.big .tag-ornament {
  position: static;
}

.post-preview .tag-ornament {
  background-color: #f30a5c;
}

.post-preview.picture .tag-ornament {
  bottom: auto;
  top: 0;
  z-index: 1;
}

.live-news-widget-text-wrap {
  height: 50px;
  overflow: hidden;
  position: relative;
  color: #333;
  border: 1px solid #4a4a4a;
  max-width: 100%;
  overflow: hidden;
}

.live-news-widget-text-wrap p {
  /* position: absolute;
  width: 100%;
  text-wrap: nowrap;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 25s linear infinite; */

  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.live-news-widget-text-wrap p:hover {
  animation-play-state: paused;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-200%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-200%);
  }
}

.live-news-widget-wrap:before,
.live-news-widget-wrap:after {
  content: "";
  width: 50%;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.live-news-widget-wrap:after {
  right: 0;
  background-color: #1c95f3;
}

.live-news-widget-wrap:before,
.live-news-widget-wrap:after {
  content: "";
  width: 50%;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.live-news-widget {
  height: 40px;
  padding: 0 135px;
  background-color: #252627;
  position: relative;
  overflow: hidden;
}

.live-news-widget .live-news-widget-stairs.left {
  left: 0;
}

.live-news-widget .live-news-widget-stairs {
  position: absolute;
  top: 0;
  z-index: 1;
}

.live-news-widget-wrap:before {
  left: 0;
  background-color: #f30a5c;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(1) {
  width: 170px;
}
.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(2) {
  width: 165px;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(3) {
  width: 160px;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(4) {
  width: 155px;
}
.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(5) {
  width: 150px;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(6) {
  width: 145px;
}
.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(7) {
  width: 140px;
}
.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(8) {
  width: 135px;
}
.live-news-widget .live-news-widget-stair {
  height: 5px;
}
.live-news-widget .live-news-widget-stairs.red .live-news-widget-stair {
  background-color: #f30a5c;
}

.live-news-widget .live-news-widget-stairs.right {
  right: 0;
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.live-news-widget .live-news-widget-stairs {
  position: absolute;
  top: 0;
  z-index: 33;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(1) {
  width: 170px;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(2) {
  width: 165px;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(3) {
  width: 160px;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(4) {
  width: 155px;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(5) {
  width: 150px;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(6) {
  width: 145px;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(7) {
  width: 140px;
}

.live-news-widget
  .live-news-widget-stairs
  .live-news-widget-stair:nth-child(8) {
  width: 135px;
}

.live-news-widget .live-news-widget-stairs.blue .live-news-widget-stair {
  background-color: #1c95f3;
}

.live-news-widget .live-news-widget-text {
  color: #8b8b8b;
  font-size: 0.75em;
  line-height: 40px;
}

.live-news-widget .live-news-widget-title-wrap {
  padding: 3px 0 0 28px;
  position: absolute;
  top: 8px;
  left: 9px;
  z-index: 6666;
}

.live-news-widget .live-news-widget-title-wrap .live-news-widget-title {
  color: #fff;
  font-size: 0.875em;
  line-height: 1.4285714286em;
  font-weight: bold;
  text-transform: uppercase;
}

.live-news-widget .live-news-widget-title-wrap .live-news-widget-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.live-news-widget .live-news-widget-text .separator {
  margin: 0 12px;
  color: #ffb400;
  font-weight: 700;
}

.slide-image:before {
  content: "";
  position: absolute;
  background-color: #02020263;
  top: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  width: 100%;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #363636;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125em;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 46px;
  padding: 0 20px;
  border-radius: 200px;
}

.submit-input input[type="text"],
.submit-input input[type="email"] {
  height: 50px;
  font-size: 0.75em;
}

.submit-input .submit-input-button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #363636;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  position: absolute;
}

.submit-input.full .submit-input-button {
  width: 40px;
  height: 40px;
  top: 5px;
  right: 10px;
}

.submit-input.blue .submit-input-button {
  background-color: #1c95f3;
}

.submit-input {
  position: relative;
}

.search-icon.small {
  width: 16px;
  height: 16px;
  width: 24px;
  height: 22px;
  margin: 0 auto;
  color: #fff;
}

.banner-wrap.forum-banner {
  background: linear-gradient(45deg, #f30a5c, #1c95f3);
  background-size: cover;
}

.banner {
  min-height: 260px;
  padding: 180px 0 90px;
}

.banner .banner-title {
  color: #fff;
  text-align: center;
}

.banner .banner-title {
  font-size: 2.5em;
  font-weight: bold;
}

.error-display {
  padding-top: 430px;
  text-align: center;
  position: relative;
}

.error-display .error-img {
  width: 391px;
  height: 374px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -132px;
}

.error-display .error-title {
  margin-top: 50px;
  color: #363636;
  font-weight: bold;
  line-height: 1em;
}

.error-display .error-title,
.streamer-overview .streamer-info .streamer-info-name,
.contact-section .contact-section-title,
.sponsors-title,
.order-result-banner .order-result-banner-title {
  font-size: 3.25em;
}

.error-display .error-subtitle {
  margin-top: 26px;
  color: #8b8b8b;
  line-height: 1em;
  font-size: 1.4em;
  font-weight: bold;
}

.error-display .error-text,
.post-open .post-open-text,
.post-comment .post-comment-text {
  font-size: 0.875em;
  line-height: 1.8571428571em;
}

.error-display .error-text {
  width: 570px;
  margin: 46px auto 0;
}

.section-title-wrap .section-title.medium {
  font-size: 1.125em;
}

.form-box-heading .form-box-heading-title,
.banner-title,
.post-preview.huge .post-preview-title,
.post-open .post-open-title.big,
.error-display .error-title,
.streamer-overview .streamer-info .streamer-info-name,
.contact-section .contact-section-title,
.sponsors-title,
.order-result-banner .order-result-banner-title,
.post-open .post-open-title,
.banner .banner-title,
.post-preview.picture.big .post-preview-overlay .post-preview-title,
.post-preview.large .post-preview-title,
.post-open .post-open-title.small,
.reviews-wrap .reviews-header .reviews-header-title,
.post-preview.big .post-preview-title,
.topic-comment .topic-comment-content .topic-comment-quote:before,
.widget-team-vs .widget-team-vs-item .team-score,
.match-stats .match-score,
.widget-stat-info-wrap .widget-stat-info-number,
.countdown-text,
.topic-wrap .topic-header .topic-title,
.reviews-wrap .reviews-body .reviews-body-title,
.post-preview.landscape.big .post-preview-title,
.post-preview.medium .post-preview-title,
.promo-banner .promo-banner-info .promo-banner-title,
.section-slider-bg .section-slider-title,
.stats-info-item .stats-info-item-value,
.form-box-heading .form-box-heading-subtitle,
.product-open .product-name,
.post-preview-title,
.error-display .error-subtitle,
.post-preview.video.no-hover .post-preview-title,
.post-comment .post-comment-username,
.video-info-slider-items .video-info-slider-item .video-info-slider-title,
.topic-comment
  .topic-comment-content
  .topic-comment-content-header
  .topic-comment-username,
.profile-user .profile-user-name,
.user-review .user-review-title,
.order-result-banner .order-result-banner-text,
.post-open .quote-text,
.subscribe-section .subscribe-section-title,
.sponsor-info .sponsor-info-title,
.faq-item .faq-item-trigger .faq-item-title,
.widget-medals .widget-medals-info .widget-medals-title,
.badge-item .badge-item-title,
.post-open .post-open-text.bold,
.skill-loot-list .skill-loot-item-info .skill-loot-item-title,
.badge-info,
.page-navigation .page-navigation-item,
.timestamp-tag,
.filter-heading .filter-heading-text,
.account-info-wrap .account-info-name,
.ban-list-wrap .ban-list-title,
.character-selection-list .character-selection-list-text,
.ticket-wrap .ticket-info .ticket-title,
.ticket-wrap .ticket-teams .ticket-teams-text,
.ticket-wrap .ticket-buy-button,
.order-item .order-header .order-header-item,
.sponsor-item .sponsor-item-link,
.faq-item .faq-item-footer .faq-item-footer-text,
.bubble-ornament .bubble-ornament-info,
.bubble-ornament .bubble-ornament-text,
.tag-quantity .tag-quantity-text,
.button-replay,
.decorated-link,
.link-text-form,
.inventory-bag-preview .items-in-inventory,
.inventory-bag-preview .inventory-subtotal,
.dropdown-simple-wrap .dp-option-text,
.widget-title-wrap .widget-title,
.widget-title-wrap .widget-text.bold,
.widget-title-wrap .stats-reference .stat-reference .stat-reference-text,
.widget-overflow-wrap .widget-overflow-list .widget-overflow-list-text,
.widget-match-box-item .widget-match-box-link,
.widget-info-box .widget-info-box-item .widget-info-title,
.widget-simple-stats.small
  .widget-simple-stat
  .widget-simple-stat-rows
  .widget-simple-stat-row
  .widget-simple-stat-title,
.widget-simple-stats.small
  .widget-simple-stat
  .widget-simple-stat-rows
  .widget-simple-stat-row
  .widget-simple-stat-value,
.widget-simple-stat .widget-simple-stat-header .widget-simple-stat-header-title,
.events-preview .event-preview-header .event-preview-header-text,
.team-score-boxes-title-wrap .team-score-box-title,
.team-score-boxes .team-score-box .team-score-box-text,
.table.order-overview .table-row-item .product-category,
.table-row-header-item .table-row-header-title,
.table-row-item .table-text.bold,
.table-row-item .table-text-link,
.match-stats .match-link,
.product-open .product-category-wrap .product-stock,
.product-open .product-info-list .product-info-list-item,
.product-feature .product-feature-info .product-feature-title,
.arc-rate-wrap .arc-rate-stat,
.countdown-text-wrap .countdown-text-heading,
.bar-progress-info,
.bar-progress-text,
.xm-tooltip .xm-tooltip-text,
.calendar .calendar-header .calendar-header-bottom .calendar-week-day,
.promo-banner .promo-banner-info .promo-banner-text,
.option-list .option-list-item,
.user-dropdown .user-dropdown-header .user-dropdown-header-text,
.topic-comment .topic-comment-user .topic-comment-user-text,
.profile-user .profile-user-info,
.notification-item .notification-item-text,
.user-review .user-review-info,
.inventory-open-header .inventory-open-header-title,
.information-header .information-header-title,
.inventory-compare .inventory-compare-title,
.contact-info-preview
  .contact-info-preview-email-wrap
  .contact-info-preview-email,
.shortcode-section .shortcode-section-title,
.shortcode-color .shortcode-color-code,
.team-info-wrap .team-info .team-name,
.information-rows
  .information-row
  .information-row-item
  .information-row-item-text,
.button-social,
.dropdown-inner-list .dropdown-inner-list-item .dropdown-inner-list-item-title,
.dropdown-inner-list .dropdown-inner-list-item .dropdown-inner-list-item-value,
.mobile-dropdown-item > .mobile-dropdown-item-link,
.widget-match-result .widget-match-result-actions .widget-match-result-action,
.widget-match-result .widget-match-result-item .match-score,
.widget-match-result .widget-match-result-item .match-datetime,
.mvp-stats .mvp-stat .mvp-stat-title,
.widget-simple-stat
  .widget-simple-stat-rows
  .widget-simple-stat-row
  .widget-simple-stat-title,
.widget-simple-stat
  .widget-simple-stat-rows
  .widget-simple-stat-row
  .widget-simple-stat-value,
.widget-stat-info-wrap .widget-stat-info .widget-stat-info-title,
.events-preview .event-preview-item .event-preview-item-timestamp,
.events-preview
  .event-preview-item
  .event-preview-item-content
  .event-preview-item-title,
.table-row-item .table-text.bolder,
.featured-info .featured-info-text,
.arc-stats-wrap .arc-stats-info .arc-stats-stat,
.promo-banner .promo-banner-info .promo-banner-pre-title,
.forum-category-wrap .forum-category-subcategories .forum-category-subcategory,
.forum-post-link,
.forum-category-text,
.inventory-open-action .inventory-open-row-text,
.inventory-open-total .inventory-open-row-text,
.information-box .information-box-message,
.information-box .information-box-action,
.featured-stat-wrap .featured-stat-title,
.order-item .order-body .order-body-item .order-body-item-title,
.bio-item .bio-item-title,
.stats-info-item
  .stats-info-item-description
  .stats-info-item-description-title,
.contact-item .contact-item-text,
.form-box-wrap .tab-form-buttons .tab-form-button,
.widget-top-player .top-player-info-wrap .top-player-info .top-player-name,
.tweets-preview-widget-item .tweets-prevew-widget-item-user,
.comment-preview .comment-preview-title,
.poll-widget .poll-widget-title,
.stream-preview .stream-preview-streamer .stream-preview-streamer-name,
.team-score-boxes .team-score-box .team-points,
.medal-list .medal-list-item .medal-list-item-title,
.overview-info-wrap .overview-info-item .overview-info-item-text,
.table.order-overview .table-row-item .product-name,
.post-preview.video.tiny .post-preview-title,
.post-preview.video.large
  .post-preview-overlay
  .post-preview-overlay-info
  .post-preview-text,
.post-preview.tiny .post-preview-title,
.product-open .product-category-wrap .product-category,
.product-feature .product-feature-info .product-feature-text,
.progress-bar .progress-bar-text,
.tab-wrap .tab-header .tab-header-item .tab-header-item-text,
.calendar .calendar-header .calendar-header-top .calendar-month-year,
.topic-wrap .topic-footer .topic-footer-info .topic-footer-text,
.topic-comment
  .topic-comment-content
  .topic-comment-quote
  .topic-comment-quote-user
  .topic-comment-quote-user-name,
.topic-comment-reply-user .topic-comment-reply-name,
.topic-link-item .topic-link-item-title,
.user-link-item .user-link-item-title,
.activity-item .activity-item-row .activity-item-title,
.notification-item.medium .notification-item-text,
.reviews-wrap
  .reviews-header
  .reviews-header-rating
  .reviews-header-rating-text,
.rating-block .rating-block-title,
.contact-info-preview
  .contact-info-preview-sign
  .contact-info-preview-sign-text,
.shortcode-font .shortcode-font-family,
.shortcode-font .shortcode-font-weight,
.mobile-menu-item > .mobile-menu-item-link,
.product-preview-title,
.account-info-wrap .account-info-username,
.account-info-wrap
  .account-info-stats
  .account-info-stat
  .account-info-stat-value,
.player-preview .player-preview-info .player-preview-nickname,
.widget-top-player .top-player-stats .top-player-stat .top-player-stat-title,
.live-news-widget .live-news-widget-title-wrap .live-news-widget-title,
.widget-slider-items .widget-slider-item .widget-slider-item-title,
.widget-calendar-row
  .calendar-row-wrap
  .calendar-row-items
  .calendar-row-item
  .calendar-row-item-day,
.post-preview.video .post-preview-title,
.post-preview.small .post-preview-title,
.forum-category-wrap .forum-category-title,
.topic-wrap
  .topic-scroll-wrap
  .topic-scroll
  .topic-scroll-info
  .topic-scroll-counter,
.post-preview.picture.short .post-preview-overlay .post-preview-title,
.user-avatar-wrap .user-avatar-text,
.user-avatar-wrap .user-avatar-decoration .user-avatar-decoration-text,
.widget-top-player .top-player-info-wrap .top-player-info .top-player-flag,
.stream-start-counter,
.account-info-wrap
  .account-info-stats
  .account-info-stat
  .account-info-stat-title,
.ticket-wrap .ticket-info .ticket-text,
.table-row-item .table-text,
.match-stats .match-time,
.calendar .calendar-body .calendar-day .event-list .event-item,
.text-heading,
.post-open .post-open-subtitle,
.post-open .feature-list .feature-list-item .feature-title,
.post-open .review-wrap .review-score-wrap .review-score-number,
.post-open .review-wrap .review-score-wrap .review-score-text,
.section-title-wrap .section-title,
.shortcode-font .shortcode-font-demo {
  display: block;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;
}

.filter-heading .filter-heading-text {
  color: #363636;
}

.skill-loot-list .skill-loot-item-info .skill-loot-item-title,
.badge-info,
.page-navigation .page-navigation-item,
.timestamp-tag,
.filter-heading .filter-heading-text,
.account-info-wrap .account-info-name,
.ban-list-wrap .ban-list-title,
.character-selection-list .character-selection-list-text,
.ticket-wrap .ticket-info .ticket-title,
.ticket-wrap .ticket-teams .ticket-teams-text,
.ticket-wrap .ticket-buy-button,
.order-item .order-header .order-header-item,
.sponsor-item .sponsor-item-link,
.faq-item .faq-item-footer .faq-item-footer-text,
.bubble-ornament .bubble-ornament-info,
.bubble-ornament .bubble-ornament-text,
.tag-quantity .tag-quantity-text,
.button-replay,
.decorated-link,
.link-text-form,
.inventory-bag-preview .items-in-inventory,
.inventory-bag-preview .inventory-subtotal,
.dropdown-simple-wrap .dp-option-text,
.widget-title-wrap .widget-title,
.widget-title-wrap .widget-text.bold,
.widget-title-wrap .stats-reference .stat-reference .stat-reference-text,
.widget-overflow-wrap .widget-overflow-list .widget-overflow-list-text,
.widget-match-box-item .widget-match-box-link,
.widget-info-box .widget-info-box-item .widget-info-title,
.widget-simple-stats.small
  .widget-simple-stat
  .widget-simple-stat-rows
  .widget-simple-stat-row
  .widget-simple-stat-title,
.widget-simple-stats.small
  .widget-simple-stat
  .widget-simple-stat-rows
  .widget-simple-stat-row
  .widget-simple-stat-value,
.widget-simple-stat .widget-simple-stat-header .widget-simple-stat-header-title,
.events-preview .event-preview-header .event-preview-header-text,
.team-score-boxes-title-wrap .team-score-box-title,
.team-score-boxes .team-score-box .team-score-box-text,
.table.order-overview .table-row-item .product-category,
.table-row-header-item .table-row-header-title,
.table-row-item .table-text.bold,
.table-row-item .table-text-link,
.match-stats .match-link,
.product-open .product-category-wrap .product-stock,
.product-open .product-info-list .product-info-list-item,
.product-feature .product-feature-info .product-feature-title,
.arc-rate-wrap .arc-rate-stat,
.countdown-text-wrap .countdown-text-heading,
.bar-progress-info,
.bar-progress-text,
.xm-tooltip .xm-tooltip-text,
.calendar .calendar-header .calendar-header-bottom .calendar-week-day,
.promo-banner .promo-banner-info .promo-banner-text,
.option-list .option-list-item,
.user-dropdown .user-dropdown-header .user-dropdown-header-text,
.topic-comment .topic-comment-user .topic-comment-user-text,
.profile-user .profile-user-info,
.notification-item .notification-item-text,
.user-review .user-review-info,
.inventory-open-header .inventory-open-header-title,
.information-header .information-header-title,
.inventory-compare .inventory-compare-title,
.contact-info-preview
  .contact-info-preview-email-wrap
  .contact-info-preview-email,
.shortcode-section .shortcode-section-title,
.shortcode-color .shortcode-color-code {
  font-size: 0.625em;
}

.section-title-wrap + .post-preview-showcase,
.section-title-wrap + .carousel,
.section-title-wrap + .filter-heading {
  margin-top: 26px;
}

.filter-heading {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 14px;
}

.post-preview.landscape {
  height: 160px;
  padding: 5px 0 0 286px;
}

.post-preview {
  position: relative;
}

.post-preview.landscape {
  height: 160px;
  padding: 5px 0 0 286px;
}

.post-preview.landscape .post-preview-img-wrap {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.post-preview.landscape .post-preview-img {
  width: 270px;
  height: 160px;
}

figure > img {
  width: 100%;
}

.post-preview .post-preview-img {
  transition: transform 0.3s ease-in-out;
}

.post-preview.landscape .post-preview-title,
.post-preview.landscape .post-preview-text {
  text-shadow: none;
}

.post-author-info {
  line-height: 26px;
}

p.light {
  color: #8b8b8b;
}

.post-author-info .post-author,
.post-author-info .post-comment-count {
  font-weight: 700;
}

.post-author-info .separator {
  margin: 0 5px;
}

p {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 0.9125em;
  line-height: 1.6923076923em;
}

.post-preview.landscape .post-preview-text {
  margin-top: 10px;
}

.post-preview.gaming-news .post-author,
.post-preview.gaming-news .post-comment-count {
  color: #1c95f3;
}

p.small {
  font-size: 0.6875em;
}

.post-preview.landscape .tag-ornament {
  top: 140px;
}

.post-preview .tag-ornament {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 9999;
}

.section-title-wrap .section-title-separator {
  width: 100%;
  height: 1px;
  margin-top: 16px;
  background-color: #dbdbdb;
  position: relative;
}

.section-title-wrap .section-title-separator:before {
  content: "";
  width: 70px;
  height: 3px;
  background-color: #363636;
  position: absolute;
  top: -2px;
  left: 0;
}

.section-title-wrap.blue .section-title-separator:before {
  background-color: #1c95f3;
}

.filter-heading .filter-heading-text .highlight {
  color: #1c95f3;
}

.filter-heading .filter-heading-text {
  color: #363636;
}

.filter-heading + .post-preview-showcase {
  margin-top: 26px;
}

.search-popup {
  width: 100%;
  height: 100%;
  padding-top: 300px;
  background-color: rgba(28, 149, 243, 0.94);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.search-popup.open {
  opacity: 1;
  visibility: visible;
}

.search-popup .cross-icon {
  fill: #fff;
}

.search-popup .close-button {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.cross-icon.big {
  width: 15px;
  height: 15px;
}

.search-popup .search-popup-form {
  width: 850px;
  margin: 0 auto;
}

.search-popup .input-line,
.search-popup .search-popup-text {
  color: #fff;
}

.search-popup .search-popup-text {
  margin-top: 30px;
  font-size: 0.75em;
  text-align: center;
  -o-transform: translate(30%, 0);
  -moz-transform: translate(30%, 0);
  -ms-transform: translate(30%, 0);
  -webkit-transform: translate(30%, 0);
  transform: translate(30%, 0);
  opacity: 0;
}

.search-popup .search-popup-text.animate {
  animation: translate-from-right 0.6s ease-in 1 forwards;
  animation-delay: 0.25s;
}

.search-popup .input-line,
.search-popup .search-popup-text {
  color: #fff;
}

.search-popup .input-line {
  height: auto;
  padding: 0 0 32px;
  font-family: "Exo", sans-serif;
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
}

input[type="text"].input-line,
input[type="password"].input-line,
input[type="email"].input-line {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  color: #fff;
}

.search-popup .input-line.animate {
  animation: translate-from-bottom 0.4s ease-in 1 forwards;
}
.search-popup .input-line:focus-visible {
  outline: none !important;
}

@keyframes translate-from-right {
  0% {
    -o-transform: translate(30%, 0);
    -moz-transform: translate(30%, 0);
    -ms-transform: translate(30%, 0);
    -webkit-transform: translate(30%, 0);
    transform: translate(30%, 0);
    opacity: 0;
  }

  100% {
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

.search-popup .input-line::placeholder {
  color: #fff !important;
}

@keyframes translate-from-bottom {
  0% {
    -o-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    opacity: 0;
  }

  100% {
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

.widget-sidebar {
  margin-bottom: 30px;
}

.post-preview.tiny {
  height: auto;
  padding-left: 78px;
  position: relative;
}

.post-preview.tiny .post-preview-img-wrap {
  position: absolute;
  top: 0;
  left: 0;
}

.post-preview.tiny .post-preview-img {
  width: 70px;
  height: 70px;
}

.post-preview.tiny .post-preview-title {
  text-shadow: none;
  box-shadow: none;
  font-size: 0.75em;
  line-height: 1.33333em;
}

.post-preview.big .post-preview-title,
.post-preview.big .post-preview-text {
  text-shadow: none;
  box-shadow: none;
}

.post-preview.big .post-preview-img {
  height: 300px;
}

.post-preview.big .tag-ornament {
  top: 280px;
}

/* ornamentcolors */

.post-preview.orblu .tag-ornament {
  background-color: #1c95f3;
}

.post-preview.orpink .tag-ornament {
  background-color: #f30a5c;
}

.post-preview.orpurple .tag-ornament {
  background-color: #8a2be2;
}

/* ornamentcolors */

.post-preview.big .post-preview-title {
  font-size: 1.875em;
  line-height: 1.1333333333em;
}

.post-preview.landscape.big {
  height: auto;
  padding: 40px 0 0 390px;
  margin: 25px 0 80px;
}

.post-preview.landscape.big .post-preview-img {
  width: 370px;
  height: 270px;
}

.post-preview.landscape.big .tag-ornament {
  bottom: auto;
  top: 8px;
  left: 390px;
}

.live-news-widget-wrap {
  position: relative !important;
}

.live-news-widget-title {
  font-size: 0.875em;
  line-height: 1.4285714286em;
}

.post-open .post-open-media-wrap:first-child {
  margin-top: 0;
}

.post-open .post-open-media-wrap {
  margin: 20px 0;
}

.post-open .post-open-media-wrap .post-open-media iframe {
  width: 100%;
  height: 100%;
}

.post-open.game-review .tag-ornament.video {
  background-color: #00e3d0;
}

.tag-list .tag-ornament {
  margin-right: 8px;
}

.post-open.game-review .tag-ornament {
  background-color: #f30a5c;
}

.post-open.negative .post-open-title,
.post-open.negative .post-open-text {
  color: #fff;
}

.post-open.game-review .post-author,
.post-open.game-review .post-comment-count {
  color: #f30a5c;
}

.error-display .error-text,
.post-open .post-open-text,
.post-comment .post-comment-text {
  font-size: 0.875em;
  line-height: 1.8571428571em;
}

.post-preview.video.no-hover {
  cursor: pointer;
}

.post-preview.video.tiny.negative .post-preview-title {
  color: #fff;
}

.post-preview .post-preview-overlay .play-button {
  margin: 12px auto 0;
  transition: all 0.6s ease-in-out;
  -o-transform: translate(0, 48px);
  -moz-transform: translate(0, 48px);
  -ms-transform: translate(0, 48px);
  -webkit-transform: translate(0, 48px);
  transform: translate(0, 48px);
}

.play-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #00e3d0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 9px 0 0 11px;
}

.play-button.tiny {
  width: 30px;
  height: 30px;
  border: 3px solid #00e3d0;
  padding: 0;
}

.post-preview.video.tiny .post-preview-overlay .play-button {
  margin: 22px auto 0;
  padding: 5px 0 0 7px;
  -o-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.play-button-icon.tiny {
  width: 8px;
  height: 10px;
}

.play-button-icon {
  width: 12px;
  height: 14px;
  fill: #fff;
}

.timestamp-tag {
  color: #fff;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.timestamp-tag.tiny {
  font-size: 0.5em;
  padding: 6px;
}

.post-preview .timestamp-tag {
  position: absolute;
  bottom: 0;
  right: 0;
}

.post-preview.video.tiny .post-preview-overlay {
  padding: 0;
  color: #fff;
}

.post-preview .post-preview-overlay {
  width: 100%;
  height: 100%;
  padding: 0 14px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.post-preview.video.tiny .post-preview-title {
  margin-top: 2px;
  font-size: 0.95em;
  line-height: 1.555555333em;
}

.user-avatar.tiny {
  width: 26px;
  height: 26px;
}

.post-open .post-open-title + .post-author-info-wrap {
  margin-top: 24px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-avatar.tiny {
  width: 26px;
  height: 26px;
}

.post-author-info-wrap .user-avatar {
  float: left;
  margin-right: 8px;
}

p.small {
  font-size: 0.6875em;
}

.post-author-info-wrap:after {
  content: "";
  display: table;
  clear: both;
}

.post-author-info {
  line-height: 26px;
}

.post-preview.video.tiny .post-preview-img-wrap,
.post-preview.video.tiny .post-preview-img {
  width: 100px;
  margin-bottom: 0;
}

.post-preview.video.tiny {
  padding-left: 108px;
  height: 70px;
  position: relative;
}

.section-bg {
  background: #1e1f20 url(./assets/bg1.jpg) no-repeat center;
  background-size: cover;
}

.post-open-content {
  transition: transform 0.3s ease-in-out;
}
.post-open-content.animate {
  animation: translate-from-right 0.4s ease-in 1 forwards;
}

.homeset .post-preview.picture .post-preview-overlay {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  background-color: transparent;
  top: auto;
  bottom: 0;
}

.information-box {
  width: 100%;
  height: 60px;
  padding: 0 26px 0 70px;
  border: 1px solid #dbdbdb;
  border-radius: 200px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.information-box .information-box-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #363636;
  position: absolute;
  top: 6px;
  left: 6px;
}

.information-box.error .information-box-icon {
  background-color: #f30a5c;
}

.information-box .information-box-icon .check-icon,
.information-box .information-box-icon .cross-cb-icon,
.information-box .information-box-icon .exclamation-icon {
  fill: #fff;
  position: absolute;
}

.information-box .information-box-icon .cross-cb-icon {
  top: 9px;
  left: 9px;
  font-size: 30px;
}

.information-box .information-box-message,
.information-box .information-box-action {
  line-height: 60px;
}

.information-box .information-box-message {
  color: #363636;
}

/* css */
html {
  scroll-behavior: smooth;
}

.footer-top-wrap {
  background-color: #252627;
}

.footer-top-brand {
  padding: 40px 0 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer-top-brand .logo {
  margin-top: 34px;
}

.social-links {
  display: flex;
  flex-flow: row wrap;
}

.footer-top-brand .social-links {
  margin-top: 40px;
}

.facebook-icon {
  width: 16px;
  height: 16px;
}

.twitter-icon {
  width: 16px;
  height: 16px;
}

.bubble-ornament > * {
  position: relative;
  z-index: 6666;
}

.bubble-ornament .facebook-icon,
.bubble-ornament .instagram-icon,
.bubble-ornament .youtube-icon {
  position: relative;
  top: 7px;
  left: 7px;
}

.bubble-ornament {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #dbdbdb;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.bubble-ornament.fb {
  background-color: #4153b3;
}

.bubble-ornament:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid transparent;
  position: absolute;
  bottom: -2px;
  left: -2px;
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bubble-ornament.fb:after {
  border-top-color: #4153b3;
}

.social-links .bubble-ornament {
  transition: all 0.3s ease-in-out;
}

.bubble-ornament.twt {
  background-color: #10caff;
}

.social-links .bubble-ornament {
  margin-right: 14px;
}

.bubble-ornament.twt:after {
  border-top-color: #10caff;
}

.bubble-ornament.insta {
  background-color: #f9288a;
}

.bubble-ornament.insta:after {
  border-top-color: #f9288a;
}

.footer-bottom-wrap {
  background-color: #1e1f20;
}

.footer-bottom {
  min-height: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .footer-bottom-text {
  color: #b8b8b8;
  font-size: 0.75em;
}

.footer-bottom .footer-bottom-text .brand {
  color: #fff;
}

.bubble-ornament .twitter-icon,
.bubble-ornament .gplus-icon,
.bubble-ornament .instagram-icon {
  position: relative;
  top: 7px;
  left: 7px;
}

.instagram-icon {
  width: 16px;
  height: 16px;
}

.social-links .bubble-ornament {
  transition: all 0.3s ease-in-out;
}

.social-links .bubble-ornament:hover {
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bubble-ornament svg {
  color: #fff !important;
}

.post-open .post-open-title {
  color: #363636 !important;
  line-height: 1.2em !important;
}

.post-open.negative .post-open-title {
  color: #fff !important;
}

.section-title-wrap .section-title-separator {
  width: 100%;
  height: 1px;
  margin-top: 16px;
  background-color: #dbdbdb;
  position: relative;
}

.section-title-separator:before {
  background-color: #00e3d0;
}

@media (max-width: 768px) {
  .section-title-wrap .section-title-separator:before {
    width: 50px;
  }

  .post-preview-title {
    margin-bottom: 20px;
  }

  .post-preview-text {
    display: contents;
  }

  .post-preview.picture.big .post-preview-overlay .post-preview-title,
  .post-preview.large .post-preview-title,
  .post-open .post-open-title.small,
  .reviews-wrap .reviews-header .reviews-header-title {
    font-size: 1.5em;
  }

  .post-preview.landscape,
  .post-preview.landscape.big {
    width: 100%;
    height: auto;
    padding: 0px;
  }

  .post-preview.landscape.big .tag-ornament {
    top: 250px;
    left: 0;
  }

  .post-preview.landscape,
  .post-preview.landscape.big {
    width: 100%;
    height: auto;
    padding: 0px;
  }

  .post-preview.landscape .post-preview-img-wrap,
  .post-preview.landscape.big .post-preview-img-wrap {
    margin-bottom: 16px;
    position: static;
  }

  .post-preview.landscape.big .tag-ornament {
    top: 250px;
    left: 0;
  }
}
